// SCSS Variables
$layout_bp_tablet: 768px;
$layout_bp_desktop: 980px;
$menu_color_black: rgba(0, 0, 0, 0.8);

body {
  margin: 0%;
  padding: 0%;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

/*header{
    background-color:darkgreen;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}*/

nav {
  //height: fit-content;
  /*display: flex;
    flex-direction: row;
    justify-content:center;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 10px;*/
}

.nav-brand {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: $menu_color_black;

  .nav-icon {
    padding: 15px;
  }

  .nav-brand__link {
    color: whitesmoke;
  }
}

.nav-icon {
  padding: 15px;
}

.nav-brand__link {
  color: whitesmoke;
}

.nav-bar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.4 ease;
}

.nav-bar-m {
  background-color: $menu_color_black;
  height: 0px;
  align-items: center;
}

.nav-bar__link {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 300;
    /*width: 80%;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid #d2d2d7;*/
}

.menu{
    display:block;
}

.close{
    display: none;
}

.mobile-hide{
  display: block;
}

#navbar-header:target .nav-bar{
    height: 300px;

    .mobile-hide{
      display: none;
    }
}

#navbar-header:target .nav-brand{
    .menu{
        display:none;
    }
    
    .close{
        display:block;
    }
}

/*nav a{
    height: 100%;
    float: left;
    text-align: center;
    color: red;
    text-decoration: none;
}*/

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

main {
  height: fit-content;
  background-color: #06c;
}

.buy-online {
  width: 100%;
  height: fit-content;
  text-align: center;
  background-color: #f1f1f1;

  &__aviso-envio {
    margin: auto;
    padding: 15px 0px;
    width: 80%;
    font-size: 14px;
    text-decoration: none;
  }
}

.section-product {
  height: fit-content;
  text-align: center;
  background-color: black;
  color: azure;
  padding: 10px;


}

.half-product {
    width: calc(100% - 20px);
    float: left;

}

.product-new {
    width: calc(100% - 20px);
}

.image-background {
  max-width: 100%;
  margin: auto;
  width: 734px;
  height: 448px;
  background-size: 734px 448px;
  background-position: center;
  background-size: cover;
}

.section-product__link-product {
  color: #06c;
}

.ipad-pro {
  background-image: url("./resources/hero_ipad_pro__gl982dtu49im_small_2x.jpg");
}

.products-all {
  background-image: url("./resources/tile_ios15__fdoo7kck6322_small_2x.jpg");
}

.products-watch {
  background-image: url("./resources/promo_watch_international_collection__doumy2y89m4i_large_2x.jpg");
}

.images__products {
  width: 100%;
}

.img__product {
  max-width: 100%;
  width: auto;
  height: auto;
}

footer{
  float: left;
}

.footer-padding {
  //position: relative;
  height: fit-content;
  color: #86868b;
  background-color: #f5f5f7;
  padding: 20px;
}

.footer-color {
    //background-color: red;
}

.nav-bar-show {
  height: fit-content;
  color: black;
  background-color: #f5f5f7;
  padding-top: 20px;
}

.footer-style {
  margin: auto;
  text-align: justify;
  font-size: 12px;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 10px;
}


@for $i from 1 through 9 {
  .footer-item {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 10px 0px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #d2d2d7;
    height: 15px;
    overflow: hidden;
  
    &__link-#{$i} {
      margin: 0;
      display: inline;
    }
    &__list-#{$i} {
      display: none;
    }
    
    &__open-list-#{$i} {
      right: 0;
      cursor: default;
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    
    &__close-list-#{$i} {
      right: 0;
      cursor: default;
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    
    &__expand-#{$i} {
      float: right;
      font-size: 14px;
      font-weight: normal;
      margin-top: -2px;
      margin-right: 8px;
      text-align: left;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    }
  }
}

/*.footer-item {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #d2d2d7;
  height: 15px;
  overflow: hidden;

  &__link {
    margin: 0;
    display: inline;
  }
  
  &__list {
    display: none;
  }
  
  &__open-list {
    right: 0;
    cursor: default;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  &__close-list {
    right: 0;
    cursor: default;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  &__expand {
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
    margin-right: 8px;
    text-align: left;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}*/

.bold {
    font-weight: 700;
}

.underline{
    text-decoration: underline;
}

// SCSS
@for $i from 1 through 9 {
  &#footer-item-#{$i}:target {
    padding: 0px;
    height: 270px;
  
    .footer-item__list-#{$i} {
      display: block;
    }
  
    .footer-item__expand-#{$i} {
      -webkit-transform: rotate(46deg) scale(1.08);
      transform: rotate(45deg) scale(1.08);
    }
  
    .footer-item__open-list-#{$i} {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  
    .footer-item__close-list-#{$i} {
      display: block;
    }
  
    li {
      padding: 6px 14px;
      display: block;
    }
  }  
}

.bottom-footer{
  padding: 34px;
  font-size: 12px;
  color: #86868b;
}

.buy-more{
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-location{
  padding-bottom: 10px;
}

.copy-right{
  padding-bottom: 7px;
}

.last-footer-list{
  height: 100px;

  &__item{
    padding-right: 10px;
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
  }
}

@media (min-width: $layout_bp_tablet) {

  .footer-location{
    float: right;
  }

  .nav {
    display: flex;
  }

  header {
    display: none;
  }

  .nav-bar {
    height: auto;
    flex-direction: row;
    position: static;
    height: 50px;
    background-color: $menu_color_black;

    &__link{
        border-bottom: 0px;
      }
  }

  .mobile-hide{
    display: block;
  }

  .half-product {
    width: calc(50% - 20px);;
}

  .footer-padding {
      padding: 20px;
      //height: 1000px;
  }

  .nav-bar-show {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: fit-content;
  }

  .footer-item__expand{
      display: none;
  }

  .footer-item {
      border-bottom: 0px;
      height: fit-content;

      &__link{
        font-weight: 700;
        margin-bottom: 10px;
        color: #3b3b3b;
    }

    &__open-list{
        display: none;
    }
  
    &__list {
      display: block;
    }
  
    &__list li a{
        color: #86868b;
        margin: 15px 0px;
        display: flex;
    }
  }

}

@media (min-width: $layout_bp_desktop) {
    .footer-padding {
        padding: 20px 100px;
        //height: 1000px;
        //background-color: red;
    }

    .nav-bar {
        padding-left: 70px;
        padding-right: 70px;
    }
}
